// vars
$primary-color: #ffffff00;
$custom-white: #d4d4d4;
$baby-blue: #45e7fcd8;
// reset
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: azure;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;

  .chart-container {
    width: 700px / 768px * 100%;
    background-color: $custom-white;
    height: 900px / 1024px * 100%;
  }
}

svg {
  background-color: $primary-color;
  rect {
    fill: $baby-blue;
    
  }
  .bar:hover {
    fill: brown;
  }

}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 5px;
  background: $primary-color;
  box-shadow: 1px 1px 10px;
  border-radius: 50px;
  pointer-events: none;
}