// vars
$primary-color: #ffffff00;
$custom-white: #d4d4d4;
$baby-blue: #45e7fcd8;
// reset
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

h2 {
  display: block;
  position: absolute;
  top: 15%;
  margin: 0 auto;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(50deg, #b0fafab2, #ffffff);

  .chart-container {
    padding: 10%;
    background: $primary-color;
    
    
  }
}

svg {
  background-color: $primary-color;
  rect {
    fill: $baby-blue;
    
  }
  .bar:hover {
    fill: $primary-color;
  }

}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 50px;
  padding: 5px;
  background: $primary-color;
  box-shadow: 1px 1px 10px;
  border-radius: 50px;
  pointer-events: none;
}